<html>
    <head>
        <title>Sabrina's Blog</title>
    </head>
    <body>
    <h1>For the first time...</h1>
    <div>
        <p>...Sabrina starts her official, magnificent blog!</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h1>Joke List</h1></di>
        <p>Hello my deer!</p>
        <em>credits to Juliane höhö</em>
        <p>I love your beautiful ice.</p>
        <em>credits to myself</em>
    </body>
    </html>
</html>